<div class="wrapper wrapper-full-page">
  <div
    class="page-header login-page header-filter"
    filter-color="black"
    style="
      background-image: url('./assets/img/background.jpg');
      background-size: cover;
      background-position: top center;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <div class="card">
            <b
              class="card-title text-center"
              style="margin-top: 20px; font-size: 30px"
            >
              Login
            </b>
            <div class="card-body">
              <form align="center">
                <p>
                  <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Username"
                    #username
                  />
                </p>

                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Password"
                  #password
                />
              </form>
            </div>
            <div
              style="
                padding-top: 0px;
                margin-bottom: 20px;
                align-items: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
              "
            >
              <button
                mat-raised-button
                class="btn btn-primary btn-round"
                (click)="login(username.value, password.value)"
              >
                Sign in
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
